body {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;   
}

ul {
    list-style-type: none;
}

.head {
    background-color: white;
    width: 1440px;
    height: 72px;
    border: 1px solid #E7E9FC;
}

.head-line {
    margin-top: 24px;
}

.logo-link {
    text-transform: uppercase;
    font-family: "Raleway";
    color: #2E2F42;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.167;
    letter-spacing: 3%;
    vertical-align: middle;
    margin-left: 156px;
    float: left;
}

.logo-web {
    color: #4D5AE5;
}

.nav-list {
    margin-top: 24px;
    margin-left: 347px;
}
    
.row {
    float: left;
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 2%;
    text-decoration: none;
    margin-right: 40px;
    color: #2E2F42;
}

.nav-link:hover, .nav-link:focus {
    color: #404BBF;
}

.studio:active {
    text-decoration: underline;
}

.contacts {
    margin-left: 940px;
}

.contact-us {
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    text-decoration: none;
    margin-right: 40px;
    font-style: normal;
}

.contact-us:hover, .contact-us:focus {
    color: #404BBF;
}

.section-main {
    background: #2E2F42;
    width: 1440px;
    height: 600px;
    margin-top: -47px;/*!!!*/
}

.title {
    color: white;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.0714;
    letter-spacing: 2%;
    padding-top: 188px;
}

button {
    cursor: pointer;
    background: #4D5AE5;
    width: 169px;
    height: 56px;
    margin-bottom: 188px; 
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    gap: 10px;
    color: white;
    font-weight: 500;
    size: 16px;
    line-height: 1.5;
    letter-spacing: 4%;
    margin-left: 636px;
    border-radius: 4px;
    
}

button:hover {
    background: #404BBF;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 2%;  
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 2%;
}

p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
}

.section-advantages {
    width: 1440px;
    height: 344px;
    margin-top: -16px;    /*!!!*/
}

.advantages {
    width: 264px;
    height: 112px;
    margin-top: 120px;
    margin-right: 24px;
}

.first {margin-left: 116px;}

.section-team {
    background: #F4F4FD;
    width: 1440px;
    height: 732px;
    padding-top: 120px;
}

.team-first {
    margin-left: 116px;
}

.team {
    width: 264px;
    height: 380px;
    margin-right: 24px;
    margin-top: 72px;
    background: white;
}

.team-title {
    text-align: center;
    margin-top: 32px;
}

.team-text {
    text-align: center;
    margin-top: -12px;
}

.section-portfolio {
    width: 1440px;
    height: 1240px;
    padding-top: 120px;
}

.portfolio {
    width: 360px;
    height: 420px;
    margin-right: 24px;
    margin-top: 72px;
    background: white;
}

.portfolio-item {
    margin-top: 32px;
}

.portfolio-text {
    margin-top: -12px;
}

footer {
    width: 1440px;
    height: 312px;
    background: #2E2F42;
    margin-top: 120px;
    padding-top: 100px;
}

.logo-link-footer {
    color: #F4F4FD;    
    text-transform: uppercase;
    font-family: "Raleway";    
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.167;
    letter-spacing: 3%;
    margin-left: 156px;
    margin-top: 100px;
}

.footer-text {
    color:#F4F4FD;
    margin-top: 16px;
    margin-left: 156px;
    width: 264px;
    height: 112px;
}

